USE [master]
GO
/****** Object:  Database [CICLO_UNIVERSITARIO]    Script Date: 17/11/2024 17:55:33 ******/
CREATE DATABASE [CICLO_UNIVERSITARIO]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CICLO_UNIVERSITARIO', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\CICLO_UNIVERSITARIO.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CICLO_UNIVERSITARIO_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\CICLO_UNIVERSITARIO_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CICLO_UNIVERSITARIO].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CICLO_UNIVERSITARIO]
GO
/****** Object:  Table [dbo].[Cursos]    Script Date: 17/11/2024 17:55:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cursos](
	[CodigoCurso] [varchar](50) NULL,
	[NombreCurso] [varchar](255) NULL,
	[Matriculados] [int] NULL,
	[Aprobados] [int] NULL,
	[Desaprobados] [int] NULL,
	[Retiros] [int] NULL,
	[Abandonos] [int] NULL,
	[TotalLlevados] [int] NULL,
	[CantidadConvalidados] [int] NULL,
	[NotaMinima] [float] NULL,
	[NotaMaxima] [float] NULL,
	[Promedio] [float] NULL,
	[DesviacionEstandar] [float] NULL,
	[Semestre] [varchar](50) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Cursos] ([CodigoCurso], [NombreCurso], [Matriculados], [Aprobados], [Desaprobados], [Retiros], [Abandonos], [TotalLlevados], [CantidadConvalidados], [NotaMinima], [NotaMaxima], [Promedio], [DesviacionEstandar], [Semestre]) VALUES (N'EG-181', N'COMUNICACIÓN I', 36, 23, 3, 9, 1, 36, 1, 0, 18, 14.289230769230768, 6.92, N'2020-I')
INSERT [dbo].[Cursos] ([CodigoCurso], [NombreCurso], [Matriculados], [Aprobados], [Desaprobados], [Retiros], [Abandonos], [TotalLlevados], [CantidadConvalidados], [NotaMinima], [NotaMaxima], [Promedio], [DesviacionEstandar], [Semestre]) VALUES (N'EG-182', N'MATEMÁTICA BÁSICA', 41, 23, 5, 10, 3, 41, 0, 0, 17, 13.076071428571428, 7.1, N'2020-I')
INSERT [dbo].[Cursos] ([CodigoCurso], [NombreCurso], [Matriculados], [Aprobados], [Desaprobados], [Retiros], [Abandonos], [TotalLlevados], [CantidadConvalidados], [NotaMinima], [NotaMaxima], [Promedio], [DesviacionEstandar], [Semestre]) VALUES (N'EG-183', N'ESTRATEGIAS PARA EL APRENDIZAJE AUTÓNOMO', 36, 22, 1, 9, 4, 36, 1, 0, 18, 13.445217391304349, 6.46, N'2020-I')
GO
USE [master]
GO
